@charset "UTF-8";
/* Custom Fonts for the AppShell */
@font-face {
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
  src: url();
}
.full-bleed {
  top: 0px;
  box-shadow: 0 0 0 100vmax rgba(23, 23, 26, 0.5);
  clip-path: inset(0 -100vmax);
}
.main-body {
  text-align: center;
  color: aliceblue;
  background-color: #282831;
}
.main-header {
  position: relative;
  top: -10px;
  display: flex;
  max-width: 80rem;
  align-items: center;
  flex-direction: column;
  background: rgb(23, 23, 26, 0.5);
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
.main-header h1,
.main-header p {
  margin-top: 0.635rem;
  margin-bottom: 0.635rem;
}
h1,
h2,
p {
  font-family: Arial;
}
.contact-info-form {
  display: flex;
  box-sizing: border-box;
  border: black solid 1px;
}
.project-container {
  box-sizing: border-box;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}
.project-preview {
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
    border-color: #f3f3f3;
    border-width: 1px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.project-preview img{
    margin-top: 5rem;
    margin-left: 3.75rem;
}
.bigletters {
  text-transform: uppercase;
}
.MTU {
  color: #faea07;
  text-decoration: solid;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #282831;
  max-width: 84rem;
  margin: auto 0.625rem;
  border-color: white;
  border-style: solid;
}

.nav-bar-main {
  margin-top: -10px;
  flex: 50%;
  position: sticky;
  background-color: rgba(23, 23, 26, 1);
}

.nav-bar-item {
    position: sticky;
  font-family: Arial;
  color: #f3f3f3;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  font-size: 15px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-text {
  text-align: center;
  max-width: 56.25rem;
}
.section-header {
  text-transform: uppercase;
}
.nav-bar-item:hover {
  background-color: #30303a;
  color: #000000;
}
.contact-info-form{
    display: flex;
    background-color: #30303a;
    min-width: 40rem;
    min-height: 2000rem;
    max-width: 40rem;
    max-height: 20rem;
    

}
.form-group input{
    background-color: transparent;
    margin-bottom: 1rem;
    color:white;
    border-style: groove;
    border-color: #30303a;
}
