@charset "UTF-8";
/* Custom Fonts for the AppShell */
@font-face {
    font-family: 'Gill Sans',Arial, Helvetica, sans-serif;
    src: url();
}
.main-body{
    text-align: center;
    color:aliceblue;
    background-color: #282831;
}
.main-header{
    margin-left: 25%;
    text-align: left;
}
h1, h2, p{
    font-family: Arial;
}
.bigletters{
    text-transform: uppercase;
}
.MTU {
    color: #faea07;
    text-decoration: solid;
}
.nav-bar { 
    display: flex;
    flex-direction: row;
    background-color: #282831;
    max-width: 1344px;
    margin: auto 10px;
    border-color: white;
    border-style: solid;
}

.nav-bar-main {
    flex: 50%;
}

.nav-bar-item{
    font-family: Arial;
    color: #f3f3f3;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
}



.nav-bar-item:hover{
    background-color: #30303a;
    color: #000000;
}